<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Postscript</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Products</h2>
                <div class="list-group" id="list-tab" role="tablist">
                {% for product in products %}
                    <a class="list-group-item list-group-item-action" id="{{product.id}}" data-toggle="list" href="/products/{{product.id}}/messages" role="tab">{{product.name}} <small class="float-right">{{product.price}}</small></a>
                {% endfor %}
                </div>
            </div>
            <div class="col">
                <h2>Messages</h2>
                {% if selected_product %}
                <div class="list-group">
                {% for message in messages %}
                    <a href="/messages/{{message.id}}/send" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{message.name}}</h5>
                        </div>
                        <p class="mb-1">{{message.content}}</p>
                    </a>
                {% endfor %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Add new Message</h5>
                        </div>
                        <form method="POST" action="/products/{{selected_product.id}}/messages" role="form">
                            {{ messageForm.hidden_tag() }}
                            <input type="hidden" id="productId" name="product_id" value="{{selected_product.id}}">
                            <div class="form-group">
                                <label for="messageName">Message Name</label>
                                <input id="messageName" name="name" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="messageContent">Message Content</label>
                                <textarea class="form-control" id="messageContent" name="content" rows="3" placeholder="Message Content"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                        </form>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="col">
                <h2>Send</h2>
                {% if selected_message %}
                <div class="card">
                    <div class="card-header">
                        On Delivery
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ message_content }}</p>
                    </div>
                    <div class="card-footer">
                        <form method="POST" action="/messages/{{selected_message.id}}/send" role="form">
                            {{ sendForm.hidden_tag() }}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0">Tel:</span>
                                </div>
                                <input type="hidden" id="messageContent" name="content" value="{{message_content}}">
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="(201) 555-0123">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary" type="button" id="button-addon2">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<script src="/static/js/bootstrap.min.js"></script>
</html>